.readingList{
    width: 320px;
    height: 100vh;
    border: 1px solid #e3e4e7;
    border-radius: 5px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;

    margin: 15px;
    cursor: default;
    /* overflow: auto; */
}

.listItem {
    padding: 10px 0;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.listItem:hover {
    background-color: #e8e8e8;
    transition: background-color 150ms linear;
}

.listItem:not(:focus) {
    transition: background-color 150ms linear;
}

.timeAgo {
    color: #5f6368;
    font-size: 12px;
}

.bookmarkIcon {
    margin: 0 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deleteBtn {
    color:#5f6368;
    font-size: 20px;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    /* padding: 5px; */
    /* border: 1px solid black; */
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.deleteBtn:hover {
    background-color: #d3d3d4;
    transition: background-color 150ms linear;
}